<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113810264-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113810264-1');
</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>AMAZE travels.ai</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/HP.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Reduce your <span>Business Travel SPending</span></h1>
            <p class="animated fadeInRightBig">AMAZE is a software automatically analysing your business travel spending. </p>
            <p class="animated fadeInRightBig">The product runs over your data and delivers the best insights for your organization, services, teams and employees.</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Learn more</a>
          </div>
        </div>
        <div class="item" style="background-image: url(images/dashboard.png)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Show <span>Overruns</span></h1>
            <p class="animated fadeInRightBig">Uphold and adapt your travel policies</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url(images/employees.png)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Check <span>your status</span></h1>
            <p class="animated fadeInRightBig">Amaze shows employees where they stand compared to their peers</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
        
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#services">Services</a></li> 
            <li class="scroll"><a href="#features">Technology</a></li>
            <li class="scroll"><a href="#pricing">Pricing</a></li>                   
            <li class="scroll"><a href="#team">Team</a></li>
            <li class="scroll"><a href="#contact">Contact</a></li>
            <li class="scroll"><a href="#">Log In</a></li>
            <li class="scroll"><a href="#">Sign Up</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->



  <!--services-->
  <section id="services">
    <div class="container">
       <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <div class="our-services">
            <h2>Our Services</h2>
        </div> 
      </div>
    </div>
    </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <a href="#pricing"><i class="glyphicon glyphicon-cloud"></i></a>
            </div>
            <div class="service-info">
              <h3>Cloud Service</h3>
              <p>Cloud solution makes integration easier and faster. Our team develops one interface for each employee</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <div class="service-info">
              <h3>Manager interfaces</h3>
              <p>AMAZE displays the travelers who don't stick to their budgets for each team in your company</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <div class="service-info">
              <h3>Traveler interfaces</h3>
              <p>Amaze shows travelers where they stand compared to their peer. Employees have a better understanding over their spending </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              
              <i class="fa fa-gift"></i>
            </div>
            <div class="service-info">
              <h3>Reward</h3>
              <p>Challenge your travelers and rewards them while they respect their budgets</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <a href="#features"><i class="glyphicon glyphicon-plane"></i></a>
            
          </div>
            <div class="service-info">
            
              <h3>Budget calculation</h3>

              <p> AMAZE calculates the right budgets for flights, hotels, rentals and foods based on your status and travel policies </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
           <a href="https://chrome.google.com/webstore/detail/travels-budget-extension/ddjmannlfkaobmneaeeafdpoomnonmjp?authuser=1"><i class="glyphicon glyphicon-circle-arrow-down"></i>
            </div></a>
            <div class="service-info">
              <h3>Chrome extension</h3>
              <p>Access to your profile in the simpliest way, download our chrome extension</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#services-->

 <!--/Product-->

<!--/features-->
  <section id="features">
    <div class="container">
      <div class="row">
        <div class="entry-header heading text-center col-sm-12  wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h1>Our Technology</h1>
          <p>We plugg our software to your SBT, your expense system and enter your travel policy and your organizational structure in our database. Algorithmes run over these data to calculate the budget. </p>
        </div>
      </div>

    
      <div class="row count">
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="glyphicon glyphicon-cog"></i>
          <h3>Connect to GDS</h3>
          <p>Get costs for flights, hotels, rentals, foods from GDS</p>
        </div>
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
          <i class="glyphicon glyphicon-search"></i>
          <br>
          <h3>Keep relevant data</h3>                    
          <p>Exclude data out of your travel policies</p>
        </div> 
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
          <i class="glyphicon glyphicon-eur"></i>
          <br>
          <h3>Calculate the budget</h3>                    
          <p>Sum the data and calculate the average budget</p>
        </div> 
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
          <i class="glyphicon glyphicon-stats"></i> 
          <br>                 
          <h3>Generate insightss</h3>
          <p>Compare spending to budgets for each categories flights, hotels, rentals, foods</p>
        </div>                 
      </div>
    </div>
  </section>

<!--/#features-->

<!--/#Pricing-->

<section id="pricing">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Pricing</h2>
          <p></p>
        </div>
      </div>
      <div class="pricing-table">
        <div class="row">
          <div class="col-sm-4">
            <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <h3>From 1 to 100 users</h3>
              <div class="price">
                €3/Months/Travelers                        
              </div>
              <div class="price">
                €6/Months/Managers                       
              </div>
              <ul>
                <li>Free Setup</li>
                <li>Free integration</li>
                <li></li>
              </ul>
              <a href="#contact"  class="btn btn-lg btn-primary">Contact US</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
              <h3>From 100 to 1000 users</h3>
              <div class="price">
                €2/Months/Travelers                       
              </div>
              <div class="price">
                €4/Months/Managers                     
              </div>
              <ul>
                <li>Free Setup</li>
                <li>Free integration</li>
                <li>tailored dashboards</li>
              </ul>
              <a href="#contact" class="btn btn-lg btn-primary">Contact US</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single-table featured wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
              <h3>Over 1000 users</h3>
              <div class="price">
                Contact Us for a customized quote                       
              </div>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <a href="#contact"  class="btn btn-lg btn-primary">Get In Touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/#pricing-->



<!--/#team-->
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>The Team</h2>
          <p>Since 2016, our team works hard to deliver the best product to your organization. We believe differences and complementaries are the keys for innovation.</p>
        </div>
      </div>
      <div class="team-members">
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
                <img class="img-responsive" src="images/JV.jpg" alt="">
              </div>
              <div class="member-info">
                <h3>Jean-Vincent Hirigoyen</h3>
                <h4>CEO & co-founder</h4>
                <p></p>
              </div>
              <div class="social-icons">
                <ul>
                  
                  <li><a class="linkedin" href="https://www.linkedin.com/in/jean-vincent-hirigoyen-a3695a108/"><i class="fa fa-linkedin"></i></a></li>
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
              <div class="member-image">
                <img class="img-responsive" src="images/Marcin.jpg" alt="">
              </div>
              <div class="member-info">
                <h3>Mancin Kulawinek</h3>
                <h4>CTO & co-founder</h4>
                <p></p>
              </div>
              <div class="social-icons">
                <ul>
            
                  <li><a class="linkedin" href="https://www.linkedin.com/in/mkulawinek/"><i class="fa fa-linkedin"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
              <div class="member-image">
                <img class="img-responsive" src="images/Antonio.jpg" alt="">
              </div>
              <div class="member-info">
                <h3>Antonio Pineda</h3>
                <h4>Software Architecture</h4>
                <p></p>
              </div>
              <div class="social-icons">
                <ul>
            
                  <li><a class="linkedin" href="https://www.linkedin.com/in/antonio-pineda-b5214b112/"><i class="fa fa-linkedin"></i></a></li>
                
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
              <div class="member-image">
                <img class="img-responsive" src="images/Elias.jpg" alt="">
              </div>
              <div class="member-info">
                <h3> Elias Canche</h3>
                <h4>Front End</h4>
                <p></p>
              </div>
              <div class="social-icons">
                <ul>
  
                  <li><a class="linkedin" href="https://www.linkedin.com/in/elias-canche-046ba914b/"><i class="fa fa-linkedin"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>

 <!--/#deuxieme ligne-->

        <div class="row">
         
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
              <div class="member-image">
                <img class="img-responsive" src="images/JB.jpg" alt="">
              </div>
              <div class="member-info">
                <h3>Jean-Bernard Rolland</h3>
                <h4>Early Investor and Technical Advisor</h4>
                <p></p>
              </div>
              <div class="social-icons">
                <ul>
            
                  <li><a class="linkedin" href="https://www.linkedin.com/in/jbrolland/"><i class="fa fa-linkedin"></i></a></li>
                
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
              <div class="member-image">
                <img class="img-responsive" src="images/Nicolas.jpg" alt="">
              </div>
              <div class="member-info">
                <h3>Nicolas Savary</h3>
                <h4>Sales Advisor</h4>
                <p></p>
              </div>
              <div class="social-icons">
                <ul>
            
                  <li><a class="linkedin" href="https://www.linkedin.com/in/nsavary/"><i class="fa fa-linkedin"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
           <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
                <img class="img-responsive" src="images/Federico.jpg" alt="">
              </div>
              <div class="member-info">
                <h3>Federico Antoni</h3>
                <h4>Finance and Legal Advisor</h4>
                <p></p>
              </div>
              <div class="social-icons">
                <ul>
                  
                  <li><a class="linkedin" href="https://www.linkedin.com/in/mantoni/"><i class="fa fa-linkedin"></i></a></li>
                 
                </ul>
              </div>
            </div>
          </div>
         
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
              <div class="member-image">
                <img class="img-responsive" src="images/Bertrand.jpg" alt="">
              </div>
              <div class="member-info">
                <h3> Bertrand Hassani</h3>
                <h4>AI Advisor</h4>
                <p></p>
              </div>
              <div class="social-icons">
                <ul>
  
                  <li><a class="linkedin" href="https://www.linkedin.com/in/bertrandkianhassani/"><i class="fa fa-linkedin"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
 <!--/#deuxieme ligne-->

      </div>            
    </div>
  </section>

  <!--/#team-->



 
<!--contact-->
<section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contact Us</h2>
            <p>You want to learn more about our solution.</p>
            <p>Request a demo by filling  out the form.</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
           
          </div>
        </div>
      </div>
    </div>        
  </section>
  <!--/#contact-->
  


  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
